#Lab 02#

Dataset 1

In [4]:
import pandas as pd
heartfailure_dataset = pd.read_csv("/workspaces/DS-3021/data/heart_failure.csv")

print(heartfailure_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB
None

Question: is there a relationship between anaemia and sex

- pull in anaemia and sex columns 
- count total anaemia for male
- count total anaemia for female
- calculate percentage for each gender

In [5]:
heartfailure_dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [13]:
def anemia_sex(df):
    #clean data, make sure no empty values
    df_cleaned = df.dropna(subset=['anaemia', 'sex'])
    #pull in the two useful columns to solve my question
    data_cleaned = df_cleaned[['anaemia', 'sex']]
    
    # Create a contingency table
    contingency_table = pd.crosstab(data_cleaned['sex'], data_cleaned['anaemia'], margins=True, margins_name="Total")
    
    # Calculate the percentage of females with anaemia
    total_females = contingency_table.loc[0, 'Total']
    females_with_anaemia = contingency_table.loc[0, 1]
    percentage_females_with_anaemia = (females_with_anaemia / total_females) * 100
    
    # Calculate the percentage of males with anaemia
    total_males = contingency_table.loc[1, 'Total']
    males_with_anaemia = contingency_table.loc[1, 1]
    percentage_males_with_anaemia = (males_with_anaemia / total_males) * 100
    
    # Create a new DataFrame to include percentages
    percentage_table = contingency_table.copy()
    percentage_table.loc[0, 'Percentage'] = percentage_females_with_anaemia
    percentage_table.loc[1, 'Percentage'] = percentage_males_with_anaemia
    percentage_table.loc['Total', 'Percentage'] = (contingency_table.loc['Total', 1] / contingency_table.loc['Total', 'Total']) * 100
    
    return percentage_table

# Example usage
# Assuming heartfailure_dataset is your DataFrame
# heartfailure_dataset = pd.read_csv('path_to_heartfailure_dataset.csv')

# Call the function and get the table and correlation
percentage_table = anemia_gender_analysis(heartfailure_dataset)

# Print the results
print("Contingency Table with Percentages:")
print(percentage_table)

Contingency Table with Percentages:
(anaemia    0    1  Total  Percentage
sex
0         53   52    105   49.523810
1        117   77    194   39.690722
Total    170  129    299   43.143813, np.float64(-0.09476896093314953))