# Assignment No.2

## Question number 1

### Question: Is there a relationship between anaemia and sex

### Psuedocode
- pull in anaemia and sex columns 
- count total anaemia for male
- count total anaemia for female
- calculate percentage for each gender

### Single Line

In [20]:
import pandas as pd
heartfailure_ds = pd.read_csv("/workspaces/DS-3021/data/heart_failure.csv")

print(heartfailure_ds.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB
None

In [21]:
heartfailure_ds.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [ ]:
#find where indiicates anaemia
find_anaemiabysex = df.query("anaemia == 1 or anaemia == 0")

In [ ]:
#only need sex and anaemia
sort_sexanaemia = find_anaemiabysex.sort_values(by=['sex', 'anaemia'])

In [ ]:
#pick sex and anemia as variables
pick_sexanaemia = sort_sexanaemia.loc[:, ['sex', 'anaemia']]

In [ ]:
assign_sexanaemia = pick_sexanaemia.assign(anaemia_status=lambda x: x['anaemia'].map({0: 'No', 1: 'Yes'}))

In [ ]:
#count number for each group and calculate the perentage 
grouped = assign_sexanaemia.groupby(['sex', 'anaemia']).size().unstack(fill_value=0)
percentages = grouped.div(grouped.sum(axis=1), axis=0) * 100

### Function

In [30]:
import pandas as pd

def anaemia_sex_analysis(df):
    return (
        df.query("anaemia == 1 or anaemia == 0") 
          .sort_values(by=['sex', 'anaemia'])  
          .loc[:, ['sex', 'anaemia']] 
          .assign(anaemia_status=lambda x: x['anaemia'].map({0: 'No', 1: 'Yes'}))  
          .pipe(lambda assign_sexanaemia: assign_sexanaemia.groupby(['sex', 'anaemia']).size().unstack(fill_value=0))  
          .pipe(lambda grouped: grouped.div(grouped.sum(axis=1), axis=0) * 100) 
    )

percentages = anaemia_sex_analysis(heartfailure_ds)
print(percentages)

anaemia          0          1
sex
0        50.476190  49.523810
1        60.309278  39.690722

## Question number 2

### Question: do people who have a habit of smoking have a higher chance of getting diabetes?

### 2.2 Psuedocode
- extract the two variables
- calculate percentage of smokers with diabetes
- calculate percentage of non-smokers with diabetes
- compare and print in a table

### Single Line

In [ ]:
find_sd = df.query("smoking == 1 or smoking == 0")

In [ ]:
sort_sd = find_sd.sort_values(by=['smoking', 'diabetes'])

In [ ]:
pick_sd = sort_sd.loc[:, ['smoking', 'diabetes']]

In [ ]:
assign_sd = pick_sd.assign(smoking_status=lambda x: x['smoking'].map({0: 'No', 1: 'Yes'}))

In [ ]:
grouped = assign_sd.groupby(['smoking', 'diabetes']).size().unstack(fill_value=0)
percentages = grouped.div(grouped.sum(axis=1), axis=0) * 100

### Function

In [31]:
import pandas as pd

def smoking_diabetes_analysis(df):
    return (
        df.query("smoking == 1 or smoking == 0")  
          .sort_values(by=['smoking', 'diabetes'])  
          .loc[:, ['smoking', 'diabetes']]  
          .assign(smoking_status=lambda x: x['smoking'].map({0: 'No', 1: 'Yes'}))  
          .pipe(lambda assign_sd: assign_sd.groupby(['smoking', 'diabetes']).size().unstack(fill_value=0)) 
          .pipe(lambda grouped: grouped.div(grouped.sum(axis=1), axis=0) * 100)  
    )

percentages = smoking_diabetes_analysis(heartfailure_ds)
print(percentages)

diabetes         0         1
smoking
0         53.20197  46.79803
1         68.75000  31.25000

## Question number 3

### Question: do students with stay at home mothers have longer study time?

### psuedocode

### Single Line

In [33]:
import pandas as pd
students_ds = pd.read_csv('/workspaces/DS-3021/data/student-mat-1.csv')

In [ ]:
find_student = df.query("Mjob == 'at_home' or Mjob != 'at_home'")

In [ ]:
sort_student = find_student.sort_values(by=['Mjob', 'studytime'])

In [ ]:
pick_student = sort_student.loc[:, ['Mjob', 'studytime']]

In [ ]:
assign_student = pick_student.assign(mother_job_status=lambda x: x['Mjob'].map({'at_home': 'Stay-at-home', 'other': 'Other'}))

In [ ]:
grouped = assign_student.groupby('Mjob')['studytime'].mean()

### Function

In [35]:
import pandas as pd

def studytime_mother_job_analysis(df):
    return (
        df.query("Mjob == 'at_home' or Mjob != 'at_home'")  
          .sort_values(by=['Mjob', 'studytime'])  
          .loc[:, ['Mjob', 'studytime']]  
          .assign(mother_job_status=lambda x: x['Mjob'].map({'at_home': 'Stay-at-home', 'other': 'Other'}))  
          .groupby('Mjob')['studytime'].mean()  )

average_studytime = studytime_mother_job_analysis(students_ds)
print(average_studytime)

Mjob
at_home     2.101695
health      2.000000
other       2.028369
services    2.029126
teacher     2.017241
Name: studytime, dtype: float64

## Question number 4

### Question: do parents' education levels affect their children's (students') academic perforamnce?

### Sudo code:
- pull data from medu and fedu and compare to students' grades (g1,g2,g3)
- find the avergae grade of students corresponding to their parents' education level

### Single Line:

In [ ]:
find_parents = df.query("Medu >= 0 and Fedu >= 0")

In [ ]:
sort_parents = find_parents.sort_values(by=['Medu', 'Fedu'])

In [ ]:
pick_parents = sort_parents.loc[:, ['Medu', 'Fedu', 'G1', 'G2', 'G3']]

In [ ]:
assign_parents = pick_parents.assign(avg_grade=lambda x: (x['G1'] + x['G2'] + x['G3']) / 3)

In [ ]:
grouped = assign_parents.groupby(['Medu', 'Fedu'])['avg_grade'].mean()

### Function:

In [43]:
import pandas as pd

def parents_edu(df):
    return (
        df.query("Medu >= 0 and Fedu >= 0")  
          .sort_values(by=['Medu', 'Fedu'])  
          .loc[:, ['Medu', 'Fedu', 'G1', 'G2', 'G3']]  
          .assign(avg_grade=lambda x: (x['G1'] + x['G2'] + x['G3']) / 3)  
          .pipe(lambda assign_parents: (
              assign_parents.groupby('Medu')['avg_grade'].mean(),  
              assign_parents.groupby('Fedu')['avg_grade'].mean()   
          ))
    )

mother_edu, father_edu = parents_edu(students_dataset)
print(mother_edu) 
print(father_edu)

Medu
0    12.555556
1     9.197740
2    10.216828
3    10.451178
4    11.839695
Name: avg_grade, dtype: float64
Fedu
0    12.666667
1     9.426829
2    10.721739
3    10.716667
4    11.618056
Name: avg_grade, dtype: float64